
.env
.env.local
.env.production
.env.development
venv/
backend_env/ 
backend_env

*.pyc
__pycache__/
.coverage
db.sqlite3
*.swp
*.log
local_settings.py
static/
media/
docs/
secrets.py
migrations/
profile_pictures/
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
